{% extends "base.html.twig" %}

{% block body %}
	<h2>{{ formTitle }}</h2>
	
	{{ form(formCategory) }}
	
	{% if message != "" %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endif %}
{% endblock %}